run = "pnpm dev:docs"

hidden = [".config", ".git"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[extension]
isExtension = true
buildCommand = "cd modules/dev && pnpm build"
outputDirectory = "modules/dev/dist"
extensionID = "b99141f4-09df-43de-ad74-26c5685a55d1"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

  [languages.javascript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]
