main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #1c2333;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100vh;
}

.error {
  color: #e52222;
}

.heading {
  font-size: 1.5em;
}
